@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  background: linear-gradient(90deg, #333, #111);
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.game {
  align-items: center;
  justify-content: center;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.board {
  margin-right: auto;
  margin-left: auto;
}

.status {
  margin-bottom: 20px;
  font-weight: bold;
  color: red;
  font-size: 1.2rem;
  margin-right: auto;
  margin-left: auto;
}

.square {
  background: transparent;
  border: 3px solid #fff;
  float: left;
  font-size: calc(10vw - 10px);
  font-weight: bold;
  line-height: 10vw;
  color: white;
  height: 10vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  font-family: "Indie Flower", sans-serif;
  width: 10vw;
  cursor: pointer;
}

.row-1 > * {
  border-top: none;
}
.row-3 > * {
  border-bottom: none;
}
.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
  border-right: none;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
  border-left: none;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
.reset {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  box-shadow: 0 9px #999;
  transition-duration: 0.3s;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  background-color: red;
}
.reset:hover {
  background-color: rgb(212, 1, 1);
}
.reset:active {
  background-color: rgb(212, 1, 1);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.title {
  font-size: 3rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  .square {
    font-size: calc(12.5vw - 10px);
    line-height: 12.5vw;
    height: 12.5vw;
    width: 12.5vw;
  }
}
@media screen and (max-width: 1000px) {
  .square {
    font-size: calc(15vw - 10px);
    line-height: 15vw;
    height: 15vw;
    width: 15vw;
  }
}
@media screen and (max-width: 850px) {
  .square {
    font-size: calc(17.5vw - 10px);
    line-height: 17.5vw;
    height: 17.5vw;
    width: 17.5vw;
  }
}
@media screen and (max-width: 700px) {
  .square {
    font-size: calc(20vw - 10px);
    line-height: 20vw;
    height: 20vw;
    width: 20vw;
  }
}
@media screen and (max-width: 550px) {
  .square {
    font-size: calc(22.5vw - 10px);
    line-height: 22.5vw;
    height: 22.5vw;
    width: 22.5vw;
  }
}
